<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="7aa048e4-da7b-4e93-9e0a-812c95f9200e"
    Publisher="CN=nick"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="7aa048e4-da7b-4e93-9e0a-812c95f9200e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>USB Sniffer</DisplayName>
    <PublisherDisplayName>Nicolò Carandini</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.10069.0" MaxVersionTested="10.0.10069.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="TPCWare.UsbSniffer.UWA.App">
      <uap:VisualElements
        DisplayName="TPCWare.UsbSniffer.UWA"
        Square150x150Logo="Assets\Logo.png"
        Square44x44Logo="Assets\SmallLogo.png"
        Description="TPCWare.UsbSniffer.UWA"
        BackgroundColor="#464646">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="usb" >
      <Device Id="any">
        <!--<Function Type="name:vendorSpecific"/>-->
        <Function Type="classId:ff * *"/>
      </Device>
    </DeviceCapability>
  </Capabilities>
</Package>